<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.RentChargeMapper">

    <!-- 查询租房信息包括房屋编号与小区编号 -->
    <select id="selectRentChargeWithHouse" resultType="cc.mrbird.febs.cos.entity.RentCharge">
        SELECT rc.*, hi.code AS houseCode, ci.code AS communityCode FROM rent_charge rc
        LEFT JOIN rent_id ri ON (ri.id = rc.rent_id)
        LEFT JOIN house_info hi ON (hi.code = ri.house_code)
        LEFT JOIN community_info ci ON (ci.code = hi.community_code)
        WHERE 1 = 1
    </select>
</mapper>
